[flake8]
max-line-length = 88
extend-ignore =
    E203,
    E501,
    W503,
    F401,
    F541,
    F841,
    E402,
    D102,
    D103,
    D105,
    D200,
    D202,
    D205,
    D400,
    D401,
    D107,
    B007,
    F821
exclude =
    .git,
    __pycache__,
    .venv,
    openaudit_env,
    build,
    dist,
    .eggs,
    git-ignore,
per-file-ignores =
    __init__.py:F401
    # Allow longer lines in templates and config files
    *.html:E501
    *.yaml:E501
    *.yml:E501
